html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sidekick {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid #039be5;
  font-family: 'Roboto', serif;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 100;

  &:before, &:after {
    font-family: Calibri, sans-serif;
    color: #039be5;
    font-size: 34px;
  }

  &:before {
    content: '\201e'
  }

  &:after {
    content: '\201c';
  }

  cite {
    font-size: 50%;
    text-align:center;
    top:50%;

    &:before {
      content: '\2015 ';
    }
  }
}
